body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Arial, sans-serif;
    overflow-x: hidden;
}

._navbar {
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    padding: 7px 14px;
    border-bottom: .5px #fff solid;
}

._navbar ._container {
    padding: 0px;
}

._navbar a {
    display: block;
    position: relative;
    float: left;
}

._navbar a:nth-child(2) {
    padding: 19px;
    border-left: .7px #132041 solid;
    ;
}

._navbar a .site-logo {}

._footer {
    background: #020202;
    color: #fff;
    font-family: Gotham;
    font-weight: 100;
    padding: 45px 0px 54px;
}

._footer ._container {
    padding: 0px;
}

._footer ._container ._grid {
    padding: 10px;
    box-sizing: border-box;
}

._footer ._width-d-1000 {
    width: 1200px;
}

._footer h3 {
    width: 100%;
    display: block;
    float: left;
    margin: 13px 0px 5px;
}

._footer h5 {
    margin: 18px 0px 7px;
}

._footer a {
    float: left;
    display: block;
    width: 100%;
    color: #fff;
    margin: 10px 0px 0px;
    font-size: 16px;
    text-decoration: none;
}

._footer ._container hr {
    border: .5px #F7B500 solid;
    width: 30px;
    float: left;
    display: block;
    margin: 0px;
}

._footer ._container ._socmed-container {
    display: table;
    float: left;
    width: 100%;
}

._footer ._container ._socmed-container a {
    width: max-content;
    margin: 10px;
}

._navbar {
    z-index: 9999999 !important;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s all ease-out;
}

._fill-inline {
    background-color: rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    padding: 0px !important;
    border-bottom: 0px #fff solid !important;
}

._fill-inline a {
    background-color: rgb(255, 255, 255);
}

._fill-inline a:nth-child(2) {
    padding: 14px 28px !important;
}

._section {
    width: 100%;
}

._container {
    padding: 100px 100px;
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
}

._section ._container {
    width: 95%;
    padding: unset !important;
    display: table;
    /* border: .5px #aaa dashed; */
    padding-top: 131px !important;
    padding-bottom: 131px !important;
}

._section-offer ._container, ._section-body-paint ._container, ._section-dealer ._container, ._section-service-detail ._container {
    width: 1100px;
}

._section-service-detail ._container {
    padding: 20px 0px !important;
}

._section-dimension ._container {
    padding: 20px !important;
}

._section-after-sales-detail ._container {
    padding: 50px 0px !important;
}

._section-modular-design, ._section-cockpit, ._section-safety-feature, ._section-bottom-offer {
    background-color: #E5E5E5;
}

._section-modular-design ._container, ._section-bottom-offer ._container {
    padding: 0px !important;
}

._footer ._container {
    padding: 0px !important;
}

._section ._container ._grid {
    float: left;
    display: block;
    /* border: .5px #aaa dashed; */
    position: relative;
    box-sizing: border-box;
}

._section-design-modular .grid-12:nth-child(1) {
    cursor: pointer;
}

._section ._container .grid-12 {
    width: 100%;
}

._section ._container .grid-11 {
    width: 91.666666666667%;
}

._section ._container .grid-10 {
    width: 83.333333333333%;
}

._section ._container .grid-9 {
    width: 75%;
}

._section ._container .grid-8 {
    width: 66.666666666666%;
}

._section ._container .grid-7 {
    width: 58.333333333333%;
}

._section ._container .grid-6 {
    width: 50%;
}

._section ._container .grid-5 {
    width: 41.666666666667%;
}

._section ._container .grid-4 {
    width: 33.333333333333% !important;
    margin-right: 0px !important;
}

._section ._container .grid-3 {
    width: 25%;
}

._section ._container .grid-2 {
    width: 16.666666666667%;
}

._section ._container .grid-1 {
    width: 8.333333333333%;
}

._container-full ._container {
    width: 100%;
    padding: unset;
}

._section-exibition ._container {
    padding: 0px 0px !important;
}

._section-main-banner:after {
    position: absolute;
    top: 0;
}

._section-main-banner {
    overflow: hidden;
}

._no_padding {
    padding: 0px !important;
}

._section-main-banner ._container ._grid-badge-whatsapp {
    position: fixed;
    right: 33px;
    top: unset;
    bottom: 31px;
    width: 56px !important;
    height: 56px !important;
    float: unset;
    z-index: 99;
}

._section-product-video {
    background: url('../uploads/image/background-section3.jpg');
}

._section-product-video ._container .grid-8 {
    background: url('../uploads/image/background-vidioPlayer.png');
    height: 457px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: right;
}

._section-product-video ._container ._grid .vidioPlayer {
    width: 675px !important;
    height: 397px;
    margin-top: 25px;
}

._section-product-video ._container .grid-4 {
    padding-left: 101px;
}

._section-product-video ._container .grid-4 h2 {
    font-size: 55px;
    color: white;
    margin: 0;
}

._section-product-video ._container .grid-4 h2:nth-of-type(2) {
    font-weight: lighter;
}

._section-offer {
    background: url('../uploads/image/background-section4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

._section-offer ._container .grid-12 {
    color: white;
}

._section-offer ._container .grid-12 h3 {
    width: fit-content;
    position: relative;
    margin: 0px auto;
}

._container .grid-12 h3 hr {
    margin-top: 43px;
    margin-bottom: 0px;
}

._section-offer ._container .grid-3 {
    /* margin-bottom: 34px; */
    margin-top: 34px;
}

._section-offer ._container .grid-3 p {
    padding: 7px;
}

._section-body-paint {
    background: url('../uploads/image/background-section5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

._section-body-paint ._container {
    padding: 100px 100px 71px 100px;
}

._section-body-paint ._container .grid-12 {
    color: white;
}

._section-body-paint ._container .grid-12 h3 {
    width: fit-content;
    position: relative;
    margin: 0px auto;
}

._section-body-paint ._container .grid-12:nth-child(2) {
    margin-top: 25px;
}

._section-body-paint ._container .grid-12:nth-child(3) {
    margin-top: -15px;
}

._section-body-paint ._container .grid-4:nth-child(4) {
    margin-top: 41px;
    color: white;
}

._section-body-paint ._container .grid-4:nth-child(4) p ._btn {
    display: initial;
}

._section-body-paint ._container .grid-4 p:nth-of-type(2) {
    margin-top: 40px;
}

._section-body-paint ._container .grid-4 p .buttonLink-section-body-paint {
    display: block;
    width: 41px;
    height: 33px;
    text-align: center;
    color: #13274C;
    background: white;
    line-height: unset;
    border-radius: 6px;
    position: absolute;
    bottom: 12px;
    left: 200px;
}

._section-body-paint ._container .grid-4 p .buttonLink-section-body-paint .fa {
    margin-top: 9px;
}

._section-dealer {
    background: url('../uploads/image/background-section6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

._section-dealer ._container .grid-4 {
    color: white;
    padding: 0px 20px;
}

._section-dealer ._container .grid-4:nth-child(1) {
    float: none;
}

._section-overall-design, ._section-modular-preview {
    display: table !important;
}

._section-modular-preview {
    padding-bottom: 240px !important;
}

._section-overall-design ._container, ._section-modular-preview ._container {
    padding: 50px 0px !important;
    float: right;
}

._section-overall-design ._container ._grid, ._section-modular-preview ._container ._grid, ._section-additional-feature ._container ._grid, ._section-safety-feature ._container ._grid, ._section-after-sales-detail ._grid {
    padding: 0px 25px;
}

._section-overall-design ._container ._grid img, ._section-modular-preview ._container ._grid img, ._section-additional-feature ._container ._grid img, ._section-safety-feature ._container ._grid img, ._section-after-sales-detail ._grid img {
    margin: 20px 0px;
}

._section-additional-feature embed {
    width: 90% !important;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
    height: 440px;
    margin-bottom: 20px;
}

._section-cockpit ._container {
    padding: 0px !important;
    width: 100%;
}

._page_product_new-3008 .accordion-1 .accordion {
    width: 90%;
    margin: 0px auto;
}

._section-dealer ._container h2 {
    margin-top: 0px !important;
}

._section-dealer ._container .grid-4 h2 hr {
    margin-top: 43px;
}

._section-dealer ._container .grid-4 p {
    margin-left: 11px;
}

._section-dealer ._container .grid-4 p .fa {
    position: absolute;
    left: 0px;
}

._section-exibition {
    background: black;
    color: white;
}

._section-exibition ._container .grid-6:nth-child(1) {
    padding-left: 100px;
}

._section-exibition ._container .grid-6 h2 {
    width: min-content;
    margin-bottom: 58px;
    margin-top: 62px;
}

._section-exibition ._container .grid-6 h2 hr {
    margin-top: 43px;
}

._section-exibition ._container .grid-6 p {
    margin-left: 25px;
}

._section-exibition ._container .grid-6 p:nth-child(2) {
    margin-bottom: 42px;
    width: 480px;
    overflow: hidden;
}

._section-exibition ._container .grid-6 p .fa-circle {
    position: absolute;
    left: 100px;
    margin-top: 2px;
}

._section-exibition ._container .grid-6 p .buttonLink-section-exibition {
    display: block;
    width: 41px;
    height: 33px;
    text-align: center;
    color: #13274C;
    background: white;
    line-height: unset;
    border-radius: 6px;
    position: absolute;
    bottom: 12px;
    left: 315px;
}

._section-exibition ._container .grid-6 p .buttonLink-section-exibition .fa {
    margin-top: 9px;
}

._section-event-promotion {
    background-color: black;
    color: white;
}

._section-main-banner ._container, ._section-event-promotion ._container {
    padding: 0px !important;
    margin: 0px;
    width: 100%;
    position: relative;
}

._section-main-banner img {
    display: block;
    width: 100%;
}

._page_news ._section-news-list {
    background-color: #131314 !important;
}

._section-news-list ._container, ._section-news-detail ._container, ._section-network-detail ._container {
    padding: 20px 0px !important;
    width: 1100px;
}

._section-news-list ._container .grid-4, ._section-network-detail ._container .grid-4 {
    padding: 20px 10px 60px;
}

._page_news ._section-news-list ._container .grid-4 ._btn {
    background: #fff;
    color: #13274C;
    border-radius: 7px;
    cursor: pointer;
}

._page_network ._card {
    border-radius: 20px !important;
    overflow: hidden;
}

._page_network ._card img {
    display: block;
}

._page_network ._card ._card-text-container {
    padding: 20px 25px 15px;
    display: block;
    box-sizing: border-box;
    background-color: #13274C;
    color: #fff;
}

._page_network ._card ._card-text-container a {
    color: #fff;
    text-decoration: none;
}

._page_network ._card ._card-text-container ._card-heading {
    margin: 0px 0px 30px;
}

._section-contact-detail {
    padding: 0px 120px;
    background: url('../uploads/image/584831f6cef1014c0b5e4aa6 1.png');
    background-repeat: no-repeat;
    background-position: top 0px right 231px;
    background-size: auto 100%;
}

._section-contact-detail ._container {
    width: 500px;
    margin: unset;
    padding: 50px 0px !important;
}

._section-event-promotion ._container .grid-12 h2 {
    text-align: center;
    margin: 75px auto 0px;
    padding-bottom: 30px;
    border-bottom: .5px solid;
    width: 312px;
}

._section-event-promotion ._container .grid-6:nth-child(2) p {
    float: right;
}

._section-event-promotion ._container .grid-6 p {
    padding-top: 21px;
    width: fit-content;
    text-align: center;
    margin: 0px 33px;
    cursor: pointer;
}

._section-event-promotion ._container .grid-6 p.active {
    font-weight: bold;
    border-bottom: .5px solid;
}

._section-event-promotion ._container .grid-12 ._card {
    width: 50%;
    float: left;
    position: relative;
}

._section-event-promotion ._container .grid-12 ._card img {
    width: 100%;
    height: 504px;
    float: left;
    object-fit: cover;
}

._section-event-promotion ._container .grid-12 ._card:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #13274C) repeat left top;
    opacity: .9;
}

._section-event-promotion ._container .grid-12 ._card ._card-text-container {
    position: absolute;
    top: 214px;
    left: 128px;
    font-family: 'Roboto';
}

._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-heading {
    font-size: 21px;
    margin: 0;
    width: 90%;
}

._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text {
    font-size: 16px;
    width: 368px;
}

._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text button {
    width: 168px;
    height: 40px;
    border-radius: 6px;
    border: unset;
    color: #13274C;
    position: absolute;
    top: 195px;
    font-size: 14px;
    cursor: pointer;
}

._section-preview-product {
    background-size: 100% 100% !important;
    background-position: center !important;
}

._section-preview-product ._container ._grid:nth-child(1) {
    padding-left: 92px;
}

._section-preview-product ._container ._grid:nth-child(2) {
    padding-left: 92px;
}

._section-preview-product ._container ._grid:nth-child(3) {
    padding-right: 92px;
}

._section-preview-product .grid-6:nth-child(2) ._btn {
    width: 111px;
    height: 40px;
    display: block;
    float: left;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-top: 9px;
    box-sizing: border-box;
    border-bottom: .5px #FFFFFF solid;
}

._section-preview-product .grid-6:nth-child(2) .active {
    background-color: #fff;
    color: #032A72;
    font-weight: 700;
}

._section-preview-product .grid-6:nth-child(3) ._btn {
    height: 40px;
    padding: 0px 18px;
    opacity: .5;
    text-transform: uppercase;
    display: block;
    float: right;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-top: 19px;
    box-sizing: border-box;
    border-bottom: .5px #FFFFFF solid;
}

._section-preview-product .grid-6:nth-child(3) .active {
    opacity: 1;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    border-bottom: 3px #fff solid;
}

.slider-preview {
    display: none !important;
}

.tab-active {
    display: block !important;
}

._section-event-promotion ._container .grid-6 {
    height: 61px;
}

._section-event-promotion ._container .grid-6:nth-child(2) {
    border-right: .5px solid;
}

._section-advantage, ._section-design-modular {
    display: table;
    background-color: #F5F5F5;
}

._section-advantage ._container {
    float: right;
    padding: 20px 20px !important;
}

._section-advantage ._container ._grid {
    padding: 0px 20px;
}

._section-design ._container {
    padding: 20px 0px !important;
}

._section-design-modular ._container, ._section-design-exterior ._container, ._section-design-interior ._container {
    padding: 0px !important;
}

._section-design-exterior ._container img, ._section-design-interior ._container img {
    margin-top: 20px;
    margin-bottom: 20px;
}

._section-design-exterior ._container ._grid {
    padding: 0px 50px;
}

._section-design-exterior ._container .grid-12 {
    cursor: pointer;
    padding: 8px !important;
}

._section-design ._container {
    width: 100%;
    padding: 0px !important;
}

._section-design ._container ._grid {
    padding: 192px 0px !important;
    object-fit: contain;
    object-position: center;
}

._section-design ._container ._grid:nth-child(1) {
    background: url('../uploads/image/PEUGEOT_5008_2016_214_FR 1.png');
    cursor: pointer;
}

._section-design ._container ._grid:nth-child(2) {
    background: url('../uploads/image/PEUGEOT_3008_2016_801_UK 1.png');
    cursor: pointer;
}

._section-design-interior ._container ._grid {
    padding: 0px 20px !important;
    display: table;
}

._section-design-interior ._container {
    padding-bottom: 240px !important;
    width: 95%;
    float: right;
}

._section-design-interior ._container ._grid:nth-child(12) {}

._section-design-interior ._container ._grid:nth-child(12) img {
    margin-bottom: -310px;
    display: block;
    margin-top: -98px;
}

._section-design-interior ._container ._grid:nth-child(12) p {
    margin-bottom: -280px;
    display: block;
    color: #fff;
}

._section-design-interior {
    overflow-x: hidden;
    overflow-y: hidden;
    display: table;
    padding: 50px 0px;
}

._section-performance {
    background-color: #E5E5E5;
}

._section-performance ._container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

._section-design-exterior ._container h2 {
    width: max-content;
    display: block;
}

._container ._buttons ._text-icon .fa {
    margin: 8px !important;
}

._container ._buttons ._text-icon {
    margin: 8px 0px !important;
}

._page_product_new-5008 .slider-5, ._page_product_new-5008 .slider-5 .slider-indicator ul li.active .fa, ._page_product_new-5008 .slider-5 .slider-indicator ul li .fa, ._page_product_new-5008 .slider-5 .slider-caption, ._page_product_new-5008 .slider-5 .slider-caption ._paragraph-group p, ._page_product_new-3008 .slider-5, ._page_product_new-3008 .slider-5 .slider-indicator ul li.active .fa, ._page_product_new-3008 .slider-5 .slider-indicator ul li .fa, ._page_product_new-3008 .slider-5 .slider-caption, ._page_product_new-3008 .slider-5 .slider-caption ._paragraph-group p {
    color: #fff !important;
}

._page_product_new-3008 .slider-5 .slider-indicator, ._page_product_new-5008 .slider-5 .slider-indicator {
    display: none !important;
}

._page_product_new-3008 .slider-caption {
    left: unset !important;
    right: 10%;
    top: 39% !important;
}

._page_product_new-5008 .slider-5 .slider-indicator ul li.active, ._page_product_new-3008 .slider-5 .slider-indicator ul li.active {
    border: 1px #fff solid;
}

._page_product_new-5008 .slider-5 .slider-caption ._paragraph-group p:before, ._page_product_new-3008 .slider-5 .slider-caption ._paragraph-group p:before {
    background-color: #fff;
}

._section-design-exterior {
    overflow-x: hidden;
    padding: 50px 0px;
    display: table;
}

._section-award {}

._section-award ._container {
    padding: 0px !important;
    width: 100%;
}

@media (max-width: 1200px) and (min-width: 993px) {
    body {
        width: 100%;
    }
    ._section {
        width: 100%;
    }
    ._section-preview-product ._container ._grid:nth-child(1) {}
    ._section-preview-product ._container ._grid:nth-child(2) {}
    ._section-preview-product ._container ._grid:nth-child(3) {}
    ._section-preview-product .grid-6:nth-child(2) ._btn {}
    ._section-preview-product .grid-6:nth-child(2) .active {}
    ._container {}
    ._section ._container {}
    ._section ._container ._grid {}
    ._section ._container .grid-12 {}
    ._section ._container .grid-11 {}
    ._section ._container .grid-10 {}
    ._section ._container .grid-9 {}
    ._section ._container .grid-8 {}
    ._section ._container .grid-7 {}
    ._section ._container .grid-6 {}
    ._section ._container .grid-5 {}
    ._section ._container .grid-4 {}
    ._section ._container .grid-3 {}
    ._section ._container .grid-2 {}
    ._section ._container .grid-1 {}
    ._container-full ._container {}
    .slider-5 .slider-item-container .slider-item.before {
        left: 100% !important;
    }
    .slider-5 .slider-item-container .slider-item.after {
        left: 100% !important;
    }
    ._section-product-video {
        background-position-x: -70px;
    }
    ._section-product-video ._container ._grid .vidioPlayer {
        width: 645px !important;
        height: 340px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider h5 {
        right: 40px !important;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    body {
        width: 100%;
    }
    ._section {}
    ._section-preview-product ._container ._grid:nth-child(1) {}
    ._section-preview-product ._container ._grid:nth-child(2) {}
    ._section-preview-product ._container ._grid:nth-child(3) {}
    ._section-preview-product .grid-6:nth-child(2) ._btn {}
    ._section-preview-product .grid-6:nth-child(2) .active {}
    ._container {}
    ._section ._container {}
    ._section ._container ._grid {}
    ._section ._container .grid-12 {}
    ._section ._container .grid-11 {}
    ._section ._container .grid-10 {}
    ._section ._container .grid-9 {}
    ._section ._container .grid-8 {}
    ._section ._container .grid-7 {}
    ._section ._container .grid-6 {}
    ._section ._container .grid-5 {}
    ._section ._container .grid-4 {}
    ._section ._container .grid-3 {}
    ._section ._container .grid-2 {}
    ._section ._container .grid-1 {}
    ._container-full ._container {}
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(2) {
        font-size: 14px;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(3) {
        font-size: 19px;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(4) {
        font-size: 10px;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(5) {
        font-size: 25px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider {
        left: 31% !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider img {
        width: 690px !important;
        right: 35px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation {
        width: 625px !important;
        right: 48% !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider h5 {
        right: 135px !important;
    }
    .slider-7 {
        width: 100% !important;
    }
    ._section-product-video ._container ._grid .vidioPlayer {
        width: 495px !important;
        height: 252px !important;
    }
    ._section-product-video ._container .grid-8 {
        height: 300px !important;
    }
    ._section-product-video ._container .grid-4 h2 {
        font-size: 40px !important;
    }
    ._footer ._width-d-1000 {
        width: 100% !important;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container {
        left: 85px !important;
    }
    ._section-exibition ._container .grid-6 p:nth-child(2) {
        width: 371px !important;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-heading {
        width: 90%;
    }
    .slider-5 .slider-item-container .slider-item.after {
        left: 100% !important;
    }
    .slider-5 .slider-item-container .slider-item.before {
        left: -100% !important;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    body {
        width: 100%;
    }
    ._container {
        padding: 30px 30px !important;
    }
    ._section ._container {}
    ._section ._container ._grid {}
    ._section ._container .grid-12 {
        width: 100%;
    }
    ._section ._container .grid-11 {
        width: 100%;
    }
    ._section ._container .grid-10 {
        width: 100%;
    }
    ._section ._container .grid-9 {
        width: 100%;
    }
    ._section ._container .grid-8 {
        width: 100%;
    }
    ._section ._container .grid-7 {
        width: 100%;
    }
    ._section ._container .grid-6 {
        width: 100%;
    }
    ._section ._container .grid-5 {
        width: 100%;
    }
    ._section ._container .grid-4 {
        width: 100%;
    }
    ._section ._container .grid-3 {
        width: 100%;
    }
    ._section ._container .grid-2 {
        width: 100%;
    }
    ._section ._container .grid-1 {
        width: 100%;
    }
    ._container-full ._container {
        padding: unset !important;
    }
    ._navbar ._container {
        padding: unset !important;
    }
    ._navbar ._container a img {
        height: 40px;
    }
    ._navbar a:nth-child(2) {
        padding: 0px 14px;
        border-left: .7px #132041 solid;
        height: 10px;
    }
    ._navbar a:nth-child(2) img {
        height: 20px;
        margin-top: -5px;
    }
    ._footer ._width-d-1000 {
        width: 100% !important;
    }
    .slider-5 .slider-item-container {
        height: 985px !important;
    }
    .slider-5 .slider-item-container .slider-item img {
        height: unset !important;
        object-fit: unset !important;
        width: 190% !important;
        left: -516px;
    }
    .slider-5 .slider-item-container .slider-item {
        overflow: hidden !important;
    }
    .slider-5 .slider-caption {
        top: 61% !important;
    }
    .slider-5 .slider-item-container .slider-item.active {
        background-color: black;
    }
    .slider-5 .slider-item-container .slider-item.after {
        left: 100% !important;
    }
    .slider-5 .slider-item-container .slider-item.before {
        left: -100% !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container {
        top: 60% !important;
        left: 10% !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container .slider-heading {
        font-size: 16px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h2 {
        font-size: 27px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h4 {
        font-size: 16px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h3 {
        font-size: 16px !important;
    }
    .slider-5 .slider-indicator {
        top: 90% !important;
        left: 50% !important;
        margin-left: -45.5px;
        margin-top: unset !important;
    }
    .slider-5 .slider-indicator ul li {
        float: left;
        margin: 0px 4px !important;
    }
    .slider-5 .slider-indicator ul li.active {
        margin-top: -3px !important;
    }
    .slider-5 .slider-indicator ul li.active .fa {}
    .slider-5 .slider-indicator ul li .fa {
        color: rgba(14, 35, 73, 0.3);
    }
    .slider-5 .slider-indicator .slider-control-prev {
        visibility: hidden;
    }
    .slider-5 .slider-indicator .slider-control-next {
        visibility: hidden;
    }
    .slider-5 .slider-item-container .slider-item ._paragraph-group {
        left: 10.2% !important;
        top: 70% !important;
    }
    .slider-5 .slider-item-container .slider-item ._paragraph-group p {
        float: unset !important;
    }
    .slider-5 .slider-item-container .slider-item ._button-group {
        width: 161px !important;
        height: 31.5px !important;
        font-size: 10px !important;
        top: 87% !important;
        left: 13% !important;
    }
    ._section-main-banner ._container ._grid-badge-whatsapp {
        position: fixed;
        right: 33px;
        top: unset;
        bottom: 45px;
        width: 56px !important;
        height: 56px !important;
        float: unset;
        z-index: 99;
    }
    ._section-preview-product {
        background-size: 100% 200% !important;
        background-position-y: -525px !important;
        height: 555px !important;
    }
    ._section-preview-product ._container ._grid:nth-child(1) {
        padding-left: 15px;
    }
    ._section-preview-product ._container h2 {
        font-size: 25px !important;
        margin-top: 65px !important;
        margin-bottom: 18px !important;
    }
    ._section-preview-product ._container ._grid:nth-child(2) {
        padding-left: 15px;
        width: 50%;
    }
    ._section-preview-product ._container ._grid:nth-child(3) {
        float: left;
        width: 50%;
        padding-right: 15px;
        height: 31px;
        padding-top: 9px;
    }
    ._section-preview-product .grid-6:nth-child(2) ._btn {
        width: 75px;
        height: 31px;
        font-size: 12px;
    }
    ._section-preview-product .grid-6:nth-child(3) ._btn {
        padding-top: unset;
        height: fit-content;
        padding: 0px 6.5px;
        padding-bottom: 9px;
    }
    ._section-preview-product .grid-6:nth-child(3) .active {
        font-size: 12px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider {
        width: 100% !important;
        margin-top: 90px !important;
        left: 0 !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li {
        float: left;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider .linear-line {
        display: none;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(1) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(2) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(3) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(4) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(5) {
        left: 0 !important;
        margin: 5.5px;
    }
    ._section-product-video {
        background-image: url(../uploads/image/background-section3.jpg);
        background-size: 250%;
        background-position: right;
        background-position-y: 140px;
        height: 550px;
        background-repeat: no-repeat;
        background-color: #121622;
    }
    ._section-product-video ._container .grid-8 {
        height: 334px;
        margin-top: 129px;
    }
    ._section-product-video ._container ._grid .vidioPlayer {
        height: 295px;
        margin-top: 15px;
        width: 684px !important;
    }
    ._section-product-video ._container .grid-4 {
        padding-left: 22px;
        padding-top: 33px;
        position: absolute;
        width: fit-content;
    }
    ._section-product-video ._container .grid-4 h2 {
        font-size: 30px;
    }
    ._section-product-video ._container .grid-4 h2:nth-of-type(2) {
        font-weight: lighter;
    }
    ._section-offer {
        background: unset;
        background-color: #000;
    }
    ._section-offer ._container ._grid img {
        height: 120px;
        object-fit: cover;
        margin: 0px;
    }
    ._section-offer ._container .grid-12 {
        margin-top: unset;
        margin-bottom: 55px;
    }
    ._section-offer ._container .grid-12 h3 {
        left: unset;
        margin-left: unset;
        text-align: center;
        font-size: 21px;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: unset;
    }
    ._section-offer ._container .grid-3 {
        margin: unset;
        margin-bottom: 60px;
        width: 50%;
    }
    ._section-offer ._container .grid-3 p {
        margin: unset;
        margin-top: 20px;
        font-size: 12px;
    }
    ._section-body-paint {
        background-size: cover;
    }
    ._section-body-paint ._container .grid-12 h3 {
        left: unset;
        margin-left: unset;
        text-align: center;
        font-size: 21px;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: unset;
    }
    ._section-body-paint ._container .grid-12 p {
        font-size: 16px;
    }
    ._section-body-paint ._container .grid-4:nth-child(4) p {
        font-size: 16px;
    }
    ._section-body-paint ._container .grid-4 p .buttonLink-section-body-paint {
        bottom: 10px;
        left: 195px;
    }
    ._section-dealer ._container .grid-4:nth-child(1) {
        border-bottom: unset;
    }
    ._section-dealer ._container .grid-4 h2 {
        border-bottom: 0.2px solid white;
        width: fit-content;
        padding-bottom: 20px;
        margin-bottom: unset;
        position: relative;
        left: 50%;
        margin-left: -55px;
    }
    ._section-dealer ._container .grid-4 {
        margin-top: 25px;
        width: 50%;
    }
    ._section-dealer ._container .grid-4 p {
        margin: unset;
        margin-left: 10px;
    }
    ._section-exibition ._container .grid-6:nth-child(1) {
        padding-left: 30px;
    }
    ._section-exibition ._container .grid-6 {
        padding: 30px 30px;
        width: 50%;
    }
    ._section-exibition ._container .grid-6:nth-child(2) {
        padding: unset;
    }
    ._section-exibition ._container .grid-6 h2 {
        border-bottom: 0.2px solid white;
        width: fit-content;
        padding-bottom: 20px;
        margin-bottom: unset;
        position: relative;
        left: unset;
        margin-left: 25px;
        padding-top: unset;
    }
    ._section-exibition ._container .grid-6 p:nth-child(2) {
        margin-bottom: 20px;
        margin-top: 30px;
        width: 85%;
        overflow: hidden;
    }
    ._section-exibition ._container .grid-6 p .fa-circle {
        left: 30px;
    }
    ._section-exibition ._container .grid-6 p .buttonLink-section-exibition {
        bottom: 40px;
        left: 250px;
    }
    ._section-event-promotion ._container .grid-6 {
        width: 50%;
    }
    ._section-event-promotion ._container .grid-12 ._card {
        width: 100%;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container {
        left: 0;
        top: 150px;
        margin: 0px 29px;
    }
    ._section-event-promotion ._container .grid-12 ._card img {
        height: 345px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-heading {
        font-size: 16px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text {
        font-size: 12px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text button {
        top: 125px;
        width: 100px;
        height: 45px;
    }
    #sliderProductPreview .slider-item {
        height: 306px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider {
        height: 370px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider {
        height: 295px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider img {
        width: 565px !important;
        left: 18% !important;
        height: auto !important;
        bottom: 0px !important;
    }
    #sliderProductPreview .slider-item .slider-text-container {
        top: 100% !important;
        margin-top: 10px !important;
        left: 25px !important;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-heading {
        display: none;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(2) {
        margin-bottom: unset !important;
        font-size: 12px !important;
        font-weight: 300;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(3) {
        margin-bottom: 14px !important;
        font-size: 12px !important;
        font-weight: normal;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(4) {
        font-size: 12px !important;
        font-weight: 300;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(5) {
        font-size: 12px !important;
        font-weight: normal;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation {
        left: 0;
        width: 95% !important;
        top: 52% !important;
        padding: 0px 20px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation a {
        font-size: 19px;
        width: 32;
        height: 26;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator {
        left: 50% !important;
        margin-left: -40px !important;
        bottom: 40px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator li {
        width: 6px !important;
        height: 6px !important;
        background-color: #fafafa !important;
        margin: 5px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator .active {
        background-color: #0E2349 !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider {
        width: 100% !important;
        margin-top: 90px !important;
        left: 12px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li {
        float: left;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider .linear-line {
        display: none;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(1) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(2) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(3) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(4) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(5) {
        left: 0 !important;
        margin: 5.5px;
    }
    .slider-7 {
        margin: 50px auto !important;
        width: 666px !important;
    }
    #sliderProductNavigate {
        float: left !important;
        width: 662px !important;
    }
    #sliderProductNavigate .slider-item img {
        width: 174px !important;
        height: 299px !important;
    }
    #sliderProductNavigate ._slider-additional-navigation {
        z-index: 20 !important;
        width: 661px !important;
    }
    #sliderProductNavigate ._slider-additional-navigation a {
        margin-top: 135px !important;
    }
    #sliderProductNavigate .slider-container {
        width: 1302px !important;
    }
}

@media (max-width: 425px) and (min-width: 321px) {
    body {
        width: 100%;
    }
    ._container {
        padding: 30px 30px !important;
    }
    ._section ._container {}
    ._section ._container ._grid {}
    ._section ._container .grid-12 {
        width: 100%;
    }
    ._section ._container .grid-11 {
        width: 100%;
    }
    ._section ._container .grid-10 {
        width: 100%;
    }
    ._section ._container .grid-9 {
        width: 100%;
    }
    ._section ._container .grid-8 {
        width: 100%;
    }
    ._section ._container .grid-7 {
        width: 100%;
    }
    ._section ._container .grid-6 {
        width: 100%;
    }
    ._section ._container .grid-5 {
        width: 100%;
    }
    ._section ._container .grid-4 {
        width: 100%;
    }
    ._section ._container .grid-3 {
        width: 100%;
    }
    ._section ._container .grid-2 {
        width: 100%;
    }
    ._section ._container .grid-1 {
        width: 100%;
    }
    ._container-full ._container {
        padding: unset !important;
    }
    ._navbar ._container {
        padding: unset !important;
    }
    ._navbar ._container a img {
        height: 40px;
    }
    ._navbar a:nth-child(2) {
        padding: 0px 14px;
        border-left: .7px #132041 solid;
        height: 10px;
    }
    ._navbar a:nth-child(2) img {
        height: 20px;
        margin-top: -5px;
    }
    ._footer ._width-d-1000 {
        width: 100% !important;
    }
    .slider-5 .slider-item-container {
        height: 700px !important;
    }
    .slider-5 .slider-item-container .slider-item img {
        height: unset !important;
        object-fit: unset !important;
        width: 190% !important;
        left: -210px;
    }
    .slider-5 .slider-item-container .slider-item.active {
        background-color: black;
    }
    .slider-5 .slider-item-container .slider-item.after {
        left: 100% !important;
    }
    .slider-5 .slider-item-container .slider-item.before {
        left: -100% !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container {
        top: 60% !important;
        left: 10% !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container .slider-heading {
        font-size: 16px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h2 {
        font-size: 27px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h4 {
        font-size: 16px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h3 {
        font-size: 16px !important;
    }
    .slider-5 .slider-indicator {
        top: 90% !important;
        left: 50% !important;
        margin-left: -45.5px;
        margin-top: unset !important;
    }
    .slider-5 .slider-indicator ul li {
        float: left;
        margin: 0px 4px !important;
    }
    .slider-5 .slider-indicator ul li.active {
        margin-top: -3px !important;
    }
    .slider-5 .slider-indicator ul li.active .fa {}
    .slider-5 .slider-indicator ul li .fa {
        color: rgba(14, 35, 73, 0.3);
    }
    .slider-5 .slider-indicator .slider-control-prev {
        visibility: hidden;
    }
    .slider-5 .slider-indicator .slider-control-next {
        visibility: hidden;
    }
    .slider-5 .slider-item-container .slider-item ._paragraph-group {
        left: 10.2% !important;
        top: 70% !important;
    }
    .slider-5 .slider-item-container .slider-item ._paragraph-group p {
        float: unset !important;
    }
    .slider-5 .slider-item-container .slider-item ._button-group {
        width: 161px !important;
        height: 31.5px !important;
        font-size: 10px !important;
        top: 87% !important;
        left: 13% !important;
    }
    ._section-main-banner ._container ._grid-badge-whatsapp {
        position: fixed;
        right: 33px;
        top: unset;
        bottom: 45px;
        width: 56px !important;
        height: 56px !important;
        float: unset;
        z-index: 99;
    }
    ._section-preview-product {
        background-size: 100% 200% !important;
        background-position-y: -445px !important;
        height: 485px !important;
    }
    ._section-preview-product ._container ._grid:nth-child(1) {
        padding-left: 15px;
    }
    ._section-preview-product ._container h2 {
        font-size: 25px !important;
        margin-top: 65px !important;
        margin-bottom: 18px !important;
    }
    ._section-preview-product ._container ._grid:nth-child(2) {
        padding-left: 15px;
        width: 50%;
    }
    ._section-preview-product ._container ._grid:nth-child(3) {
        float: left;
        width: 50%;
        padding-right: 15px;
        height: 31px;
        padding-top: 9px;
    }
    ._section-preview-product .grid-6:nth-child(2) ._btn {
        width: 75px;
        height: 31px;
        font-size: 12px;
    }
    ._section-preview-product .grid-6:nth-child(3) ._btn {
        padding-top: unset;
        height: fit-content;
        padding: 0px 6.5px;
        padding-bottom: 9px;
    }
    ._section-preview-product .grid-6:nth-child(3) .active {
        font-size: 12px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider {
        width: 100% !important;
        margin-top: 90px !important;
        left: 0 !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li {
        float: left;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider .linear-line {
        display: none;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(1) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(2) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(3) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(4) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(5) {
        left: 0 !important;
        margin: 5.5px;
    }
    ._section-product-video {
        background-image: url(../uploads/image/background-section3.jpg);
        background-size: 250%;
        background-position: right;
        background-position-y: 140px;
        height: 550px;
        background-repeat: no-repeat;
        background-color: #121622;
    }
    ._section-product-video ._container .grid-8 {
        height: 173px;
        margin-top: 129px;
    }
    ._section-product-video ._container ._grid .vidioPlayer {
        height: 141px;
        margin-top: 15px;
        width: 345px !important;
    }
    ._section-product-video ._container .grid-4 {
        padding-left: 22px;
        padding-top: 33px;
        position: absolute;
        width: fit-content;
    }
    ._section-product-video ._container .grid-4 h2 {
        font-size: 21px;
    }
    ._section-product-video ._container .grid-4 h2:nth-of-type(2) {
        font-weight: lighter;
    }
    ._section-offer {
        background: unset;
        background-color: #000;
    }
    ._section-offer ._container ._grid img {
        height: 120px;
        object-fit: cover;
        margin: 0px;
    }
    ._section-offer ._container .grid-12 {
        margin-top: unset;
        margin-bottom: 55px;
    }
    ._section-offer ._container .grid-12 h3 {
        left: unset;
        margin-left: unset;
        text-align: center;
        font-size: 21px;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: unset;
    }
    ._section-offer ._container .grid-3 {
        margin: unset;
        margin-bottom: 60px;
    }
    ._section-offer ._container .grid-3 p {
        margin: unset;
        margin-top: 20px;
        font-size: 16px;
    }
    ._section-body-paint {
        background-size: cover;
    }
    ._section-body-paint ._container .grid-12 h3 {
        left: unset;
        margin-left: unset;
        text-align: center;
        font-size: 21px;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: unset;
    }
    ._section-body-paint ._container .grid-12 p {
        font-size: 16px;
    }
    ._section-body-paint ._container .grid-4:nth-child(4) p {
        font-size: 16px;
    }
    ._section-body-paint ._container .grid-4 p .buttonLink-section-body-paint {
        bottom: 10px;
        left: 195px;
    }
    ._section-dealer ._container .grid-4:nth-child(1) {
        border-bottom: unset;
    }
    ._section-dealer ._container .grid-4 h2 {
        border-bottom: 0.2px solid white;
        width: fit-content;
        padding-bottom: 20px;
        margin-bottom: unset;
        position: relative;
        left: 50%;
        margin-left: -55px;
    }
    ._section-dealer ._container .grid-4 {
        margin-top: 40px;
    }
    ._section-dealer ._container .grid-4 p {
        margin: unset;
        margin-left: 10px;
    }
    ._section-exibition ._container .grid-6:nth-child(1) {
        padding-left: 30px;
    }
    ._section-exibition ._container .grid-6 {
        padding: 30px 30px;
    }
    ._section-exibition ._container .grid-6:nth-child(2) {
        padding: unset;
    }
    ._section-exibition ._container .grid-6 h2 {
        border-bottom: 0.2px solid white;
        width: fit-content;
        padding-bottom: 20px;
        margin-bottom: unset;
        position: relative;
        left: 50%;
        margin-left: -60px;
        padding-top: 21px;
        font-size: 21px;
    }
    ._section-exibition ._container .grid-6 p:nth-child(2) {
        margin-bottom: 20px;
        margin-top: 30px;
        width: 85%;
        overflow: hidden;
    }
    ._section-exibition ._container .grid-6 p .fa-circle {
        left: 30px;
    }
    ._section-exibition ._container .grid-6 p .buttonLink-section-exibition {
        bottom: 40px;
        left: 250px;
    }
    ._section-event-promotion ._container .grid-6 {
        width: 50%;
    }
    ._section-event-promotion ._container .grid-12 ._card {
        width: 100%;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container {
        left: 0;
        top: 150px;
        margin: 0px 29px;
    }
    ._section-event-promotion ._container .grid-12 ._card img {
        height: 345px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-heading {
        font-size: 16px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text {
        font-size: 12px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text button {
        top: 125px;
        width: 135px;
        height: 45px;
    }
    #sliderProductPreview .slider-item {
        height: 240px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider {
        height: 240px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider {
        height: 240px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider img {
        width: 315px !important;
        left: 32% !important;
        height: auto !important;
        bottom: 25px !important;
    }
    #sliderProductPreview .slider-item .slider-text-container {
        top: 100% !important;
        margin-top: 20px !important;
        left: 25px !important;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-heading {
        display: none;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(2) {
        margin-bottom: unset !important;
        font-size: 12px !important;
        font-weight: 300;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(3) {
        margin-bottom: 14px !important;
        font-size: 12px !important;
        font-weight: normal;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(4) {
        font-size: 12px !important;
        font-weight: 300;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(5) {
        font-size: 12px !important;
        font-weight: normal;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation {
        left: 0;
        width: 100% !important;
        top: 52% !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation a {
        font-size: 19px;
        width: 32;
        height: 26;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator {
        left: 50% !important;
        margin-left: -40px !important;
        bottom: 40px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator li {
        width: 6px !important;
        height: 6px !important;
        background-color: #fafafa !important;
        margin: 5px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator .active {
        background-color: #0E2349 !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider {
        width: 100% !important;
        margin-top: 90px !important;
        left: 0 !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li {
        float: left;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider .linear-line {
        display: none;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(1) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(2) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(3) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(4) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(5) {
        left: 0 !important;
        margin: 5.5px;
    }
    .slider-7 {
        margin: 50px auto !important;
        width: 425px !important;
    }
    #sliderProductNavigate {
        float: left !important;
        width: 425px !important;
    }
    #sliderProductNavigate .slider-item img {
        width: 100px !important;
        height: 168px !important;
    }
    #sliderProductNavigate ._slider-additional-navigation {
        z-index: 20 !important;
        width: 420px !important;
    }
    #sliderProductNavigate ._slider-additional-navigation a {
        margin-top: 75px !important;
    }
    #sliderProductNavigate .slider-container {
        widows: 900px !important;
    }
}

@media (max-width: 320px) and (min-width: 0px) {
    body {
        width: 100%;
    }
    .tab-active {
        width: 320px !important;
    }
    ._container {
        padding: 30px 30px !important;
    }
    ._section ._container {}
    ._section ._container ._grid {}
    ._section ._container .grid-12 {
        width: 100%;
    }
    ._section ._container .grid-11 {
        width: 100%;
    }
    ._section ._container .grid-10 {
        width: 100%;
    }
    ._section ._container .grid-9 {
        width: 100%;
    }
    ._section ._container .grid-8 {
        width: 100%;
    }
    ._section ._container .grid-7 {
        width: 100%;
    }
    ._section ._container .grid-6 {
        width: 100%;
    }
    ._section ._container .grid-5 {
        width: 100%;
    }
    ._section ._container .grid-4 {
        width: 100%;
    }
    ._section ._container .grid-3 {
        width: 100%;
    }
    ._section ._container .grid-2 {
        width: 100%;
    }
    ._section ._container .grid-1 {
        width: 100%;
    }
    ._container-full ._container {
        padding: unset !important;
    }
    ._navbar ._container {
        padding: unset !important;
    }
    ._navbar ._container a img {
        height: 40px;
    }
    ._navbar a:nth-child(2) {
        padding: 0px 14px;
        border-left: .7px #132041 solid;
        height: 10px;
    }
    ._navbar a:nth-child(2) img {
        height: 20px;
        margin-top: -5px;
    }
    ._footer ._width-d-1000 {
        width: 100% !important;
    }
    .slider-5 .slider-item-container {
        height: 548px;
    }
    .slider-5 .slider-item-container .slider-item img {
        height: unset !important;
        object-fit: unset !important;
        width: 180% !important;
        left: -200px;
    }
    .slider-5 .slider-item-container .slider-item.active {
        background-color: black;
    }
    .slider-5 .slider-item-container .slider-item.after {
        left: 100% !important;
    }
    .slider-5 .slider-item-container .slider-item.before {
        left: -100% !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container {
        top: 50% !important;
        left: 10% !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container .slider-heading {
        font-size: 16px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h2 {
        font-size: 27px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h4 {
        font-size: 16px !important;
    }
    .slider-5 .slider-item-container .slider-item .slider-text-container h3 {
        font-size: 16px !important;
    }
    .slider-5 .slider-indicator {
        top: 86% !important;
        left: 50% !important;
        margin-left: -45.5px;
        margin-top: unset !important;
    }
    .slider-5 .slider-indicator ul li {
        float: left;
        margin: 0px 4px !important;
    }
    .slider-5 .slider-indicator ul li.active {
        margin-top: -3px !important;
    }
    .slider-5 .slider-indicator ul li.active .fa {}
    .slider-5 .slider-indicator ul li .fa {
        color: rgba(14, 35, 73, 0.3);
    }
    .slider-5 .slider-indicator .slider-control-prev {
        visibility: hidden;
    }
    .slider-5 .slider-indicator .slider-control-next {
        visibility: hidden;
    }
    .slider-5 .slider-item-container .slider-item ._paragraph-group {
        left: 10.2% !important;
        top: 60% !important;
    }
    .slider-5 .slider-item-container .slider-item ._paragraph-group p {
        float: unset !important;
    }
    .slider-5 .slider-item-container .slider-item ._button-group {
        width: 161px !important;
        height: 31.5px !important;
        font-size: 10px !important;
    }
    ._section-main-banner ._container ._grid-badge-whatsapp {
        position: fixed;
        right: 33px;
        top: unset;
        bottom: 45px;
        width: 56px !important;
        height: 56px !important;
        float: unset;
        z-index: 99;
    }
    ._section-preview-product {
        background-size: 100% 200% !important;
        background-position-y: -445px !important;
        height: 485px !important;
    }
    ._section-preview-product ._container ._grid:nth-child(1) {
        padding-left: 15px;
    }
    ._section-preview-product ._container h2 {
        font-size: 25px !important;
        margin-top: 65px !important;
        margin-bottom: 18px !important;
    }
    ._section-preview-product ._container ._grid:nth-child(2) {
        padding-left: 15px;
        width: 50%;
    }
    ._section-preview-product ._container ._grid:nth-child(3) {
        float: left;
        width: 50%;
        padding-right: 15px;
        height: 31px;
        padding-top: 4px;
    }
    ._section-preview-product .grid-6:nth-child(2) ._btn {
        width: 65px;
        height: 21px;
        font-size: 9px;
        padding-top: 6px;
    }
    ._section-preview-product .grid-6:nth-child(3) ._btn {
        padding-top: unset;
        height: fit-content;
        padding: 0px 6.5px;
        padding-bottom: 7px;
        font-size: 9px;
    }
    #sliderProductPreview .slider-item {
        height: 240px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider {
        height: 240px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider {
        height: 240px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider img {
        width: 315px !important;
        left: 32% !important;
        height: auto !important;
        bottom: 25px !important;
    }
    #sliderProductPreview .slider-item .slider-text-container {
        top: 100% !important;
        margin-top: 20px !important;
        left: 25px !important;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-heading {
        display: none;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(2) {
        margin-bottom: unset !important;
        font-size: 12px !important;
        font-weight: 300;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(3) {
        margin-bottom: 14px !important;
        font-size: 12px !important;
        font-weight: normal;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(4) {
        font-size: 12px !important;
        font-weight: 300;
    }
    #sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(5) {
        font-size: 12px !important;
        font-weight: normal;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation {
        left: 0;
        width: 100% !important;
        top: 52% !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation a {
        font-size: 19px;
        width: 32;
        height: 26;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator {
        left: 50% !important;
        margin-left: -40px !important;
        bottom: 40px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator li {
        width: 6px !important;
        height: 6px !important;
        background-color: #fafafa !important;
        margin: 5px !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator .active {
        background-color: #0E2349 !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider {
        width: 100% !important;
        margin-top: 90px !important;
        left: 0 !important;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li {
        float: left;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider .linear-line {
        display: none;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(1) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(2) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(3) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(4) {
        left: 0 !important;
        margin: 5.5px;
    }
    #sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(5) {
        left: 0 !important;
        margin: 5.5px;
    }
    .slider-7 {
        margin: 50px auto !important;
    }
    #sliderProductNavigate {
        float: left !important;
    }
    #sliderProductNavigate .slider-item img {
        width: 100px !important;
        height: 168px !important;
    }
    #sliderProductNavigate ._slider-additional-navigation {
        z-index: 20 !important;
        width: 320px !important;
    }
    #sliderProductNavigate ._slider-additional-navigation a {
        margin-top: 75px !important;
    }
    #sliderProductNavigate .slider-container {
        widows: 900px !important;
    }
    ._section-product-video {
        background-image: url(../uploads/image/background-section3.jpg);
        background-size: 250%;
        background-position: right;
        background-position-y: 140px;
        height: 550px;
        background-repeat: no-repeat;
        background-color: #121622;
    }
    ._section-product-video ._container .grid-8 {
        height: 173px;
        margin-top: 129px;
        background-size: 90%;
    }
    ._section-product-video ._container ._grid .vidioPlayer {
        height: 141px;
        margin-top: 15px;
        width: 251px !important;
    }
    ._section-product-video ._container .grid-4 {
        padding-left: 22px;
        padding-top: 33px;
        position: absolute;
        width: fit-content;
    }
    ._section-product-video ._container .grid-4 h2 {
        font-size: 21px;
    }
    ._section-product-video ._container .grid-4 h2:nth-of-type(2) {
        font-weight: lighter;
    }
    ._section-offer {
        background: unset;
        background-color: #000;
    }
    ._section-offer ._container ._grid img {
        height: 120px;
        object-fit: cover;
        margin: 0px;
    }
    ._section-offer ._container .grid-12 {
        margin-top: unset;
        margin-bottom: 55px;
    }
    ._section-offer ._container .grid-12 h3 {
        left: unset;
        margin-left: unset;
        text-align: center;
        font-size: 21px;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: unset;
    }
    ._section-offer ._container .grid-3 {
        margin: unset;
        margin-bottom: 60px;
    }
    ._section-offer ._container .grid-3 p {
        margin: unset;
        margin-top: 20px;
        font-size: 12px;
    }
    ._section-body-paint {
        background-size: cover;
    }
    ._section-body-paint ._container .grid-12 h3 {
        left: unset;
        margin-left: unset;
        text-align: center;
        font-size: 21px;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: unset;
    }
    ._section-body-paint ._container .grid-12 p {
        font-size: 16px;
    }
    ._section-body-paint ._container .grid-4:nth-child(4) p {
        font-size: 16px;
    }
    ._section-body-paint ._container .grid-4 p .buttonLink-section-body-paint {
        bottom: 10px;
        left: 195px;
    }
    ._section-dealer ._container .grid-4:nth-child(1) {
        border-bottom: unset;
    }
    ._section-dealer ._container .grid-4 h2 {
        border-bottom: 0.2px solid white;
        width: fit-content;
        padding-bottom: 20px;
        margin-bottom: unset;
        position: relative;
        left: 50%;
        margin-left: -55px;
    }
    ._section-dealer ._container .grid-4 {
        margin-top: 25px;
    }
    ._section-dealer ._container .grid-4 p {
        margin: unset;
        margin-left: 10px;
        font-size: 12px;
    }
    ._section-dealer ._container .grid-4 p .fa {
        top: 3px;
    }
    ._section-exibition ._container .grid-6:nth-child(1) {
        padding-left: 30px;
    }
    ._section-exibition ._container .grid-6 {
        padding: 30px 30px;
    }
    ._section-exibition ._container .grid-6 p {
        font-size: 12px;
    }
    ._section-exibition ._container .grid-6:nth-child(2) {
        padding: unset;
    }
    ._section-exibition ._container .grid-6 h2 {
        border-bottom: 0.2px solid white;
        width: fit-content;
        padding-bottom: 20px;
        margin-bottom: unset;
        position: relative;
        left: 50%;
        margin-left: -60px;
        padding-top: 21px;
    }
    ._section-exibition ._container .grid-6 p:nth-child(2) {
        margin-bottom: 20px;
        margin-top: 30px;
        width: 85%;
        overflow: hidden;
    }
    ._section-exibition ._container .grid-6 p .fa-circle {
        left: 30px;
    }
    ._section-exibition ._container .grid-6 p .buttonLink-section-exibition {
        bottom: 40px;
        left: 250px;
    }
    ._section-event-promotion ._container .grid-6 {
        width: 50%;
    }
    ._section-event-promotion ._container .grid-12 ._card {
        width: 100%;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container {
        left: 0;
        top: 150px;
        margin: 0px 29px;
        WIDTH: 262PX;
    }
    ._section-event-promotion ._container .grid-12 ._card img {
        height: 345px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-heading {
        font-size: 16px;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text {
        font-size: 12px;
        width: 262PX;
    }
    ._section-event-promotion ._container .grid-12 ._card ._card-text-container ._card-text button {
        top: 145px;
        width: 84px;
        height: 29px;
    }
    .slider-5 .slider-caption .slider-text-container .slider-heading {
        font-size: 14px !important;
    }
    .slider-5 .slider-caption .slider-text-container .slider-description {
        font-size: 25px !important;
    }
    .slider-5 .slider-caption .slider-text-container h4 {
        font-size: 14px !important;
    }
    .slider-5 .slider-caption .slider-text-container h3 {
        font-size: 14px !important;
    }
    .slider-5 .slider-caption ._paragraph-group p {
        font-size: 9px !important;
        float: unset !important;
    }
    .slider-5 .slider-caption ._button-group {
        width: 161px !important;
        height: 31.5px !important;
        font-size: 10px;
        bottom: 25px !important;
    }
}