.__component_id_107 {}

.__grid_id_48 img {
    margin: -36px -21px;
}

.__component_id_134 {
    width: 140% !important;
}

.__component_id_114 {
    width: 140% !important;
}

.__component_id_123 {
    width: 110% !important;
}

.__grid_id_132 {
    padding: 0px !important;
}

.__grid_id_65 {
    margin-top: -260px;
}

.__component_id_125 {
    margin: -100px 0px;
}

.__grid_id_140, .__grid_id_82 {
    padding: 50px 10%;
}

.__grid_id_74 {
    padding: 40px;
}

.__grid_id_73 {
    background-color: #F5F5F5 !important;
}

.__component_id_154, .__component_id_135 {
    display: block;
    background-color: #F5F5F5;
}

.__grid_id_78 {
    display: table !important;
    float: unset !important;
    margin: 0px auto;
    width: max-content !important;
}

.__grid_id_78 ._btn {
    float: left;
}

.__grid_id_86 {
    padding-left: 60px !important;
}

.__grid_id_88 {
    padding: 129px 30px !important;
}

.__grid_id_89 {
    padding: 105px 0px !important;
}

.__grid_id_92 {
    padding: 220px 25px !important;
}

.__grid_id_93 {
    padding: 110px 25px !important;
}

.__grid_id_102 {
    padding: 110px 0px !important;
}

.__component_id_171 {
    width: 110% !important;
    float: right;
}

.__grid_id_95 {
    margin-top: -278px;
    padding-bottom: 102px;
}

.__component_id_184 {
    margin: -190px 0px -112px;
}

.__component_id_186 {
    width: 138% !important;
    max-width: unset !important;
    float: right;
    margin: -115px 0px 0px -200px !important;
}

.__component_id_146 {
    font-size: 72px;
}

.__grid_id_96 ._card-text-container {
    padding: 39px !important;
    width: 520px !important;
    right: 0px;
}

.__grid_id_97 {
    padding: 60px 0px !important;
}

.__grid_id_99, .__grid_id_100 {
    padding: 40px;
}

.__grid_id_99 {
    padding-right: 20px;
}

.__grid_id_100 {
    padding-left: 20px !important;
}

.__component_id_253, .__component_id_263 {
    width: 790px;
    margin: 70px auto;
}

.__component_id_254, .__component_id_264, .__component_id_281, .__component_id_283, .__component_id_289, .__component_id_294 {
    margin: 0px auto;
    cursor: pointer;
}

.__grid_id_157, .__grid_id_148, .__grid_id_182, .__grid_id_184, .__grid_id_191, .__grid_id_200 {
    position: absolute !important;
    bottom: 0px;
}

.__component_id_258 {
    margin-top: 25px !important;
}

.__component_id_265 {
    width: max-content;
}

.__section_id_49 .grid-6 {
    padding: 20px 20px 20px 30px;
}

.__section_id_49 .grid-6:nth-child(odd) {
    border-left: 1px #111 solid;
}

.__section_id_49 .grid-6:nth-child(even) {
    padding: 20px 10px 20px 0px !important;
}

._section-indicator {
    position: fixed;
    top: 50%;
    left: 30px;
    z-index: 1;
    margin-top: -90px;
}

._section-indicator ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

._section-indicator ul li {
    width: 2px;
    height: 30px;
    background-color: #C4C4C4;
    margin: 5px auto;
    transition: .5s all ease;
}

._section-indicator ul li.active {
    width: 4px;
    height: 60px;
    background-color: #13274C;
}