._section-navbar{
    position: absolute;
    top: 0;
}
._section-navbar ._container {
    padding: unset;
    position: fixed !important;
    z-index: 99999999999999;
    width: 100% !important;
    padding: 0px !important;
    border-bottom: .5px #fff solid;
}

._section-navbar ._container._fill-inline {
    border-bottom: .5px #fff solid !important;
    background-color: rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    padding: 0px !important;
}

._section-navbar ._fill-inline ._navbar-object ._site-icon-list .fa {
    margin: 16px;
}

._navbar-object {
    height: min-content;
    margin: 0;
    transition: .5s all ease;
}

._navbar-object ._site-logo {
    height: 58px;
    width: unset !important;
    float: left;
    transition: .5s all ease;
    margin: 12px;
}

._section-navbar ._fill-inline ._site-logo {
    margin: 0px;
    background-color: #fff;
}

._fill-inline ._navbar-object ._site-logo:nth-child(1) {
    padding: 4px 10px;
}

._fill-inline ._navbar-object ._site-logo:nth-child(2) {
    padding: 18px 30px;
}

._navbar-object ._site-logo:nth-child(1) {
    border-right: .5px solid;
    cursor: pointer;
}

._navbar-object ._site-logo:nth-child(2) {
    height: 30px;
    padding: 12px 10px 4px;
}

._navbar-object ._site-icon-list {
    float: right;
    margin: 0;
    height: 100%;
    width: 121px;
    text-align: center;
    background-color: #0F1C33;
    cursor: pointer;
}

._navbar-object ._site-icon-list .fa {
    margin: 23px 0px;
    font-size: 35px;
    transition: .5s all ease;
}

._section-navbar ._container .navbar-expand {
    width: 100%;
    height: 523px;
    margin-top: 0px;
    display: none;
    float: left;
    padding: 46px 0px;
    color: white;
    background-color: rgba(15, 28, 51, 0.97);
    border-top: .5px #fff solid;
}

._section-navbar ._container .navbar-expand ._main-list {
    margin-left: 98px;
    width: 182px;
    text-transform: uppercase;
    border-right: .5px solid white;
}

._section-navbar ._container .navbar-expand ._main-list ._nav-list {
    width: 100%;
    height: 42px;
    margin: 0px 0px 15px 0px;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 0px;
    height: fit-content;
    line-height: 22px;
    cursor: pointer;
}

._section-navbar ._container .navbar-expand ._main-list ._nav-list.active {
    text-align: center;
    color: #162239;
    background-color: white;
    margin: 0px 0px 12px 0px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0px;
    height: fit-content;
    line-height: 22px;
}

._section-navbar ._container .navbar-expand ._child-list {
    margin-left: 48px;
    width: 135px;
    z-index: 2;
}

._section-navbar ._container .navbar-expand ._child-list ._sub-group {
    margin: 0px 0px 12px 0px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    display: none;
}

._section-navbar ._container .navbar-expand ._child-list ._sub-group.active {
    display: block;
}

._section-navbar ._container .navbar-expand ._child-list ._sub-group ._sub-list {
    cursor: pointer;
    display: block;
    color: #fff;
    text-decoration: none;
    height: 30px;
    background-color: unset !important;
    padding: 0px !important;
}

._section-navbar ._container .navbar-expand ._child-list ._sub-group .active {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica Neue, Arial, sans-serif;
}

._section-navbar ._container .navbar-expand ._child-list ._sub-group .active::before {
    margin-right: 8px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 19px;
}

._section-navbar ._container .navbar-expand ._preview-list {
    width: 64%;
    z-index: 0;
}

._section-navbar ._container .navbar-expand ._preview-list ._prev-group {
    display: none;
}

._section-navbar ._container .navbar-expand ._preview-list .active {
    display: block;
}

._section-navbar ._container .navbar-expand ._preview-list .active p {
    width: 659px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    position: relative;
    top: -65px;
}

._section-navbar ._container .navbar-expand ._preview-list ._prev-group ._prev-sub-group {
    display: none;
}

._section-navbar ._container .navbar-expand ._preview-list ._prev-group ._prev-sub-group img {
    margin: -100px 0px 0px;
}

._section-navbar ._container .navbar-expand ._preview-list ._prev-group .active {
    display: block;
}