.slider-8{
    height: 340px;
    overflow: hidden;
    color:#172A4F;
}
.slider-8 .slider-item-container{
    display:none;
}
.slider-8 .slider-preview{
    display: block !important;
}
.slider-8 .slider-preview img{
    width:40%;
    float: right;
}
.slider-8 .slider-preview .slider-text-container .slider-heading {
     text-align:center;
     margin: 0px auto;
     width: fit-content;
    display: none;
}
.slider-8 .slider-preview .slider-text-container h4.slider-description {
     margin: 40px auto 25px;
}
.slider-8 .slider-indicator{
   position:absolute;
   left: 50%;
   margin-left: -175px;
   top: 20%;
   width: 414px;
}
.slider-8 .slider-indicator li{
    list-style: none;
    float:left;
    opacity: 0.4;
    margin: 3px 7.5px;
   cursor:pointer;
   display:none;
}
.slider-8 .slider-indicator li h3{
    font-size:28px;
}
.slider-8 .slider-indicator li.before{
   display:block;
}
.slider-8 .slider-indicator li.after{
   display:block;
}
.slider-8 .slider-indicator li.active{
    opacity: 1;
   text-decoration: underline;
   margin: 0px 7.5px;
   display:block;
}
.slider-8 .slider-indicator li.active h3{
    font-size:40px;
}
.slider-8 .slider-indicator li .slider-heading{
    margin: 0;
}
.slider-8 .slider-indicator .indicator{
    position: absolute;
   font-size: 27px;
   margin-top: 5px;
   float: left;
}
.slider-8 .slider-indicator .indicator-next{
    right:0px;
}
.slider-8 .slider-indicator .indicator-prev{
    left:0px;
}
.slider-8 .slider-indicator .indicator .fa-chevron-right{
    float:right;
   margin-right: -20px;
   cursor:pointer;
   margin-top: 2px;
}
.slider-8 .slider-indicator .indicator .fa-chevron-left{
    margin-left:-20px;
   cursor:pointer;
}