._section-preview-product {
    background: url('../uploads/image/background-section2.jpg');
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

._section-preview-product ._container h2 {
    font-size: 55px;
    color: white;
    font-weight: 100;
    margin-bottom: 45px;
    margin-top: 0px;
}

._section-preview-product .grid-6 .section_preview_slider_tab:nth-child(1) {
    position: relative;
}

#sliderProductPreview {}

#sliderProductPreview .active {
    display: block !important;
}

#sliderProductPreview .slider-item {
    display: none;
    position: relative;
    height: 451px;
}

#sliderProductPreview .slider-item img {
    z-index: 5;
    display: none;
}

#sliderProductPreview .slider-item .slider-text-container {
    width: max-content;
    position: absolute;
    top: 50%;
    margin-top: -83px;
    z-index: 1;
    left: 97px;
    color: #fff;
}

#sliderProductPreview .slider-item .slider-text-container .slider-heading {
    margin: 0px;
    opacity: 0;
}

#sliderProductPreview .slider-item .slider-text-container .slider-description {
    margin: 0px;
}

#sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(2) {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 26px;
}

#sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(3) {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

#sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(4) {
    font-size: 12px;
    font-weight: 100;
}

#sliderProductPreview .slider-item .slider-text-container .slider-description:nth-child(5) {
    font-size: 27px;
    font-weight: bold;
}

#sliderProductPreview .slider-item ._additional-slider {
    position: relative;
    height: 451px;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: table;
    position: absolute;
    top: 49%;
    margin-top: -115px;
    left: 27%;
    z-index: 4;
    width: 106px;
    overflow: hidden;
    padding-left: 10px;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider .linear-line {
    position: absolute;
    top: -276px;
    left: 12px;
    width: 800px;
    height: 800px;
    border: 1px #fff solid;
    border-radius: 500px;
    z-index: -1;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li {
    width: 15px;
    height: 15px;
    position: relative;
    background: #aaa;
    border-radius: 10px;
    margin: 30px 0px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(1) {
    background-color: #BC4006;
    color: #BC4006;
    left: 5px;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(2) {
    background-color: #A90C2B;
    color: #A90C2B;
    left: -2px;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(3) {
    background-color: #FFFFFF;
    color: #FFFFFF;
    left: -5px;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(4) {
    background-color: #000000;
    color: #000000;
    left: -2px;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li:nth-child(5) {
    background-color: #333237;
    color: #333237;
    left: 7px;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider {}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider .active {
    display: block !important;
    opacity: 1 !important;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider {
    position: absolute;
    width: 100%;
    height: 467px;
    display: none;
    overflow: hidden;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider .active .active {
    display: block !important;
    left: 55% !important;
    margin-left: -487px !important;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider:nth-child(1) {}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider:nth-child(2) {}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider:nth-child(3) {}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider:nth-child(4) {}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider {
    position: absolute;
    left: 50%;
    margin-left: -487px;
    transition: .5s all ease;
    opacity: 0;
    width: 975px;
    z-index: 1;
    height: 100%;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider img {
    display: block;
    width: 769px;
    height: 479px;
    z-index: 5;
    position: absolute;
    right: 0px;
    bottom: 0px;
    object-fit: contain;
    object-position: center;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider h5 {
    position: absolute;
    top: 20px;
    right: -35px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 100;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator {
    margin: 0px;
    z-index: 999999;
    padding: 0px;
    width: max-content;
    list-style: none;
    position: absolute;
    display: table;
    bottom: 51px;
    text-align: center;
    left: 59%;
    margin-left: -20px;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator li {
    width: 11px;
    height: 11px;
    background-color: #aaa;
    border-radius: 10px;
    margin: 10px;
    float: left;
    cursor: pointer;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li span {
    opacity: 0;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._item-additional-slider-indicator .active {
    background-color: #fff;
    margin-left: 10px !important;
    left: 0px !important;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation {
    position: absolute;
    width: 700px;
    right: 43%;
    top: 44%;
    z-index: 9;
    margin-right: -457px;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation a {
    color: #13274C;
    text-decoration: none;
    font-size: 25px;
    width: 41px;
    height: 33px;
    text-align: center;
    line-height: 1.3;
    opacity: .5;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 800;
    transition: .5s all ease;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.47);
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation a:hover {
    opacity: 1;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation ._btn-prev {
    float: left;
}

#sliderProductPreview .slider-item ._additional-slider ._content-additional-slider ._content-slider ._slider-additional-navigation ._btn-next {
    float: right;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider li::after {
    content: "";
    width: 7px;
    height: 7px;
    display: block;
    top: 2px;
    left: 2px;
    position: absolute;
    border-radius: 14px;
    border: 2px solid;
    z-index: -1;
    transition: .5s all ease;
}

#sliderProductPreview .slider-item ._additional-slider ._indicator-additional-slider .active::after {
    content: "";
    width: 20px;
    height: 20.2px;
    display: block;
    top: -4.6px;
    left: -4.5px;
}