.slider-9 {
    height: fit-content;
    overflow: hidden;
    color: #172A4F;
}

.slider-9 .slider-item-container {
    display: none;
}

.slider-9 .slider-preview {
    margin-top: 75px;
    display: block !important;
    height: fit-content;
}

.slider-9 .slider-preview img {
    width: 40%;
    float: right;
    object-fit: contain;
}

.slider-9 .slider-preview .slider-text-container .slider-heading {
    text-align: center;
    margin: 0px auto;
    width: fit-content;
    display: none;
}

.slider-9 .slider-preview .slider-text-container h4.slider-description {
    margin: 40px auto 25px;
}

.slider-9 .slider-indicator {
    width: fit-content;
    margin: 0px auto;
    display: table;
}

.slider-9 .slider-indicator li {
    list-style: none;
    float: left;
    opacity: 0.4;
    margin: 3px 7.5px;
    cursor: pointer;
}

.slider-9 .slider-indicator li h3 {
    font-size: 21px;
}

.slider-9 .slider-indicator li.active {
    opacity: 1;
    text-decoration: underline;
    margin: 0px 7.5px;
}

.slider-9 .slider-indicator li.active h3 {
    font-size: 27px;
}

.slider-9 .slider-indicator li .slider-heading {
    margin: 0;
}

.slider-9 .slider-indicator .indicator {
    position: relative;
    font-size: 27px;
    float: left;
    margin: 0px 10px;
}

.slider-9 .slider-indicator .indicator .fa-chevron-right {
    float: right;
    cursor: pointer;
    margin-top: 2px;
}

.slider-9 .slider-indicator .indicator .fa-chevron-left {
    cursor: pointer;
}

@media (max-width: 768px) and (min-width: 426px) {
    .slider-9 .slider-indicator {
        display: none;
    }
    .slider-9 .slider-preview {
        display: none !important;
    }
    .slider-9 .slider-item-container {
        display: block;
    }
    .slider-9 .slider-item-container .slider-item img {
        width: 100%;
        max-height: 504px;
    }
    .slider-9 .slider-item-container .slider-item .slider-text-container .slider-heading {
        text-align: center;
    }
}

@media (max-width: 425px) and (min-width: 321px) {
    .slider-9 .slider-indicator {
        display: none;
    }
    .slider-9 .slider-preview {
        display: none !important;
    }
    .slider-9 .slider-item-container {
        display: block;
    }
    .slider-9 .slider-item-container .slider-item img {
        width: 100%;
        max-height: 504px;
    }
    .slider-9 .slider-item-container .slider-item .slider-text-container .slider-heading {
        text-align: center;
    }
}

@media (max-width: 320px) and (min-width: 0px) {
    .slider-9 .slider-indicator {
        display: none;
    }
    .slider-9 .slider-preview {
        display: none !important;
    }
    .slider-9 .slider-item-container {
        display: block;
    }
    .slider-9 .slider-item-container .slider-item img {
        width: 100%;
        max-height: 504px;
    }
    .slider-9 .slider-item-container .slider-item .slider-text-container .slider-heading {
        text-align: center;
    }
}