.slider-11{
    width: 100%;
    max-height: 683px;
    min-height: 250px;
    margin: 0;
    padding: 0;
}
.slider-11 .slider-indicator{
    width: fit-content;
    top: 445px;
    left: 50%;
    margin-left: -57px;
    position: absolute;
}
.slider-11 .slider-indicator .indicator-list{
    list-style: none;
    color: white;
}
.slider-11 .slider-indicator .indicator-list li{
    float: left;
    margin: 0px 8px;
    padding: 1px 2px;
    font-size: 6px;
    border: 1px solid;
    border-radius: 15pc;
    cursor: pointer;
}
.slider-11 .slider-indicator .indicator-list li.active{
    font-size: 12px;
    padding: 1px 3px 0px;
    margin-top: -3px;
}
.slider-11 .slider-preview{
    display: block !important;
    height: 400px;
    overflow: hidden;
}
.slider-11 .slider-preview img{
    width: 60%;
    object-fit: cover;
    float: left;
    overflow: hidden;
    height: 100%;
}
.slider-11 .slider-preview .slider-text-container{
    float: right;
    width: 39%;
    padding-left: 5px;
}
.slider-11 .slider-item-container{
    display:none;
}
    
@media (max-width: 768px) and (min-width: 426px) {
    .slider-11{
        max-height: unset;
    }
    .slider-11 .slider-preview{
        height: fit-content;
    }
    .slider-11 .slider-preview img{
        width: 100%;
        height: 400px;
        float: unset;
    }
    .slider-11 .slider-preview .slider-text-container{
        float: unset;
        width: 100%;
        padding-left: unset;
    }
}
    
@media (max-width: 425px) and (min-width: 321px){
    .slider-11{
        max-height: unset;
    }
    .slider-11 .slider-preview{
        height: fit-content;
    }
    .slider-11 .slider-preview img{
        width: 100%;
        height: 400px;
        float: unset;
    }
    .slider-11 .slider-preview .slider-text-container{
        float: unset;
        width: 100%;
        padding-left: unset;
    }
}
    
@media (max-width: 320px) and (min-width: 0px) {
    .slider-11{
        max-height: unset;
    }
    .slider-11 .slider-preview{
        height: fit-content;
    }
    .slider-11 .slider-preview img{
        width: 100%;
        height: 400px;
        float: unset;
    }
    .slider-11 .slider-preview .slider-text-container{
        float: unset;
        width: 100%;
        padding-left: unset;
    }
}