.slider-10 {
    width: 100%;
    max-height: 341px;
    min-height: 250px;
    margin: 0;
    padding: 0;
}

.slider-10 .slider-indicator {
    width: 100%;
    bottom: 10px;
    left: 0px;
    margin-left: 0px;
    position: absolute;
    z-index: 666666;
}

.slider-10 .slider-indicator .indicator-list {
    list-style: none;
    color: white;
    display: table;
    margin: 0px auto;
}

.slider-10 .slider-indicator .indicator-list li {
    float: left;
    margin: 0px 8px;
    font-size: 9px;
    cursor: pointer;
}

.slider-10 .slider-indicator .indicator-list li.active {
    font-size: 12px;
    padding: 1px 3px 0px;
    margin-top: -4px;
    border: 1px solid;
    border-radius: 15pc;
}

.slider-10 .slider-preview.type-1 {
    display: block !important;
    overflow: hidden;
    max-height: 341px;
}

.slider-10 .slider-preview.type-1 .slider-item {
    float: left;
}

.slider-10 .slider-preview.type-1 .slider-item:nth-child(1) {
    width: 45%;
    object-fit: cover;
    overflow: hidden;
}

.slider-10 .slider-preview.type-1 .slider-item:nth-child(1) img {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.slider-10 .slider-preview.type-1 .slider-item:nth-child(2) {
    width: 27.5%;
    object-fit: cover;
    overflow: hidden;
}

.slider-10 .slider-preview.type-1 .slider-item:nth-child(3) {
    width: 27.5%;
    object-fit: cover;
    overflow: hidden;
}

.slider-10 .slider-preview.type-1 .slider-item:nth-child(3) img {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.slider-10 .slider-item-container.type-1 {
    display: none;
}

.slider-10 .slider-preview.type-1 .slider-item .video-1 {
    position: relative;
}

.slider-10 .slider-preview.type-1 .slider-item .video-1 ._videoPlayer {
    display: none;
    height: 341px !important;
}

.slider-10 .slider-preview.type-1 .slider-item .video-1 .video-cover {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-10 .slider-preview.type-1 .slider-item .video-1 .video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    background-color: transparent;
    border: 0;
    width: 40px;
    cursor: pointer;
}

@media (max-width: 768px) and (min-width: 426px) {
    .slider-10 {
        max-width: 768px;
        max-height: unset;
        min-height: unset;
        margin: 0;
        padding: 0;
    }
    .slider-10 .slider-preview.type-1 {
        overflow: hidden;
        max-height: unset;
    }
    .slider-10 .slider-preview.type-1 .slider-item {
        float: unset;
        margin-bottom: -5px;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(1) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(2) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(3) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item .video-1 .video-cover {
        max-width: 100%;
        height: 341px;
        object-fit: cover;
    }
    .slider-10 .slider-preview.type-1 .slider-item .video-1 .video-button {
        transform: translate(-50%, -50%);
        width: 65px;
    }
}

@media (max-width: 425px) and (min-width: 321px) {
    .slider-10 {
        max-width: 768px;
        max-height: unset;
        min-height: unset;
        margin: 0;
        padding: 0;
    }
    .slider-10 .slider-preview.type-1 {
        overflow: hidden;
        max-height: unset;
    }
    .slider-10 .slider-preview.type-1 .slider-item {
        float: unset;
        margin-bottom: -5px;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(1) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(2) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(3) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item .video-1 .video-cover {
        height: 100%;
        object-fit: cover;
    }
    .slider-10 .slider-preview.type-1 .slider-item .video-1 .video-button {
        transform: translate(-50%, -50%);
        width: 65px;
    }
}

@media (max-width: 320px) and (min-width: 0px) {
    .slider-10 {
        max-width: 768px;
        max-height: unset;
        min-height: unset;
        margin: 0;
        padding: 0;
    }
    .slider-10 .slider-preview.type-1 {
        overflow: hidden;
        max-height: unset;
    }
    .slider-10 .slider-preview.type-1 .slider-item {
        float: unset;
        margin-bottom: -5px;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(1) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(2) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item:nth-child(3) {
        width: 100%;
    }
    .slider-10 .slider-preview.type-1 .slider-item .video-1 .video-cover {
        max-width: 100%;
        height: 341px;
        object-fit: cover;
    }
    .slider-10 .slider-preview.type-1 .slider-item .video-1 .video-button {
        transform: translate(-50%, -50%);
        width: 65px;
    }
}