.slider-5 .slider-item-container {
    display: table;
    height: 608px;
}

.slider-5 .slider-item-container .slider-item {
    transition: all 1s;
    transition-timing-function: ease-out;
}

.slider-5 .slider-item-container .active {
    display: block !Important;
}

.slider-5 .slider-item-container .slider-item {
    display: none;
    width: 100%;
    height: 100%;
}

.slider-5 .slider-item-container .slider-item img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: 100%;
}

.slider-5 .slider-item-container .slider-item.active {
    left: 0;
    position: absolute;
}

.slider-5 .slider-item-container .slider-item.before {
    position: absolute;
    left: -100%;
    display: block!important;
}

.slider-5 .slider-item-container .slider-item.after {
    position: absolute;
    left: 100%;
    display: block!important;
}

.slider-5 .slider-indicator {
    position: absolute;
    top: 50%;
    margin-top: -130px;
    left: 46px;
}

.slider-5 .slider-indicator .slider-control-next {
    cursor: pointer;
}

.slider-5 .slider-indicator .slider-control-prev {
    cursor: pointer;
}

.slider-5 .slider-indicator ul {
    padding: 0;
}

.slider-5 .slider-indicator ul li {
    list-style: none;
    margin: 30px 0px;
    cursor: pointer;
}

.slider-5 .slider-indicator ul li .fa {
    color: rgba(14, 35, 73, 10%);
}

.slider-5 .slider-indicator ul li.active {
    border: 2px solid #0E2349;
    border-radius: 15px;
    width: 18px;
    height: 18px;
    margin-left: -4px;
    text-align: center;
}

.slider-5 .slider-indicator ul li.active .fa {
    color: #0E2349;
    margin-top: 1px;
}

.slider-5 .slider-indicator ul li.active .span-line {
    width: 112px;
    border-top: 1px solid black;
    position: absolute;
    top: 59%;
    left: 18px;
}

.slider-5 .slider-caption {
    width: fit-content;
    position: absolute;
    top: 46%;
    left: 14.1%;
    color: #13274C;
    height: 260px;
    width: 320px;
}

.slider-5 .slider-caption .slider-item {
    display: block;
    opacity: 0;
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    height: 265px;
    top: -200px;
}

.slider-5 .slider-caption .active {
    display: block;
    opacity: 1;
    top: 0;
}

.slider-5 .slider-item-container .slider-item .slider-text-container {
    visibility: none;
}

.slider-5 .slider-caption .slider-text-container .slider-heading {
    margin: 0;
    font-size: 22px;
}

.slider-5 .slider-caption .slider-text-container .slider-description {
    margin: 0;
}

.slider-5 .slider-caption .slider-text-container h4 {
    font-weight: 300;
    font-size: 20px;
}

.slider-5 .slider-caption .slider-text-container h3 {
    font-size: 30px;
}

.slider-5 .slider-caption ._paragraph-group {
    display: block;
    position: relative;
    font-size: 11px;
}

.slider-5 .slider-caption ._paragraph-group p {
    width: 125px;
    float: left;
    padding-left: 10px;
    position: relative;
    margin-right: 8px;
    color: #13274C;
}

.slider-5 .slider-caption ._paragraph-group p:nth-child(2) {
    width: 150px;
}

.slider-5 .slider-caption ._paragraph-group p span {
    font-weight: bold;
}

.slider-5 .slider-caption ._paragraph-group p:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: black;
    display: block;
    margin-top: 3px;
    position: absolute;
    left: 0px;
    border-radius: 10pc;
}

.slider-5 .slider-caption ._button-group {
    position: absolute;
    bottom: 0px;
}

.slider-5 .slider-caption ._button-group ._btn {
    position: relative;
    top: 35%;
    color: white;
    text-decoration: none;
}