hr{
    border: .5px solid #13274C;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 31px;
}
h4{
    font-size: 27px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 20px;
}
p{
    font-size: 16px;
    line-height:24px;
}
._paragraph_small{
    font-size: 12px;
    line-height: 15px;
}
._text_left{
    text-align:left;
}
._text_center{
    text-align:center;
}
._text_right{
    text-align:right;
}
._text_justify {
text-align: justify;
}
._sg_line_color_1{
   color:#13274C !important;
   border-color: #13274C !important;
}
._sg_line_color_2{
   color:#ffffff !important;
   border-color: #ffffff !important;
}
._sg_line_color_3{
   color:#000000 !important;
   border-color: #000000 !important;
}
._sg_line_color_4{
   color:#C4C4C4 !important;
   border-color: #C4C4C4 !important;
}
._sg_bg_color_1{
   background-color:#13274C !important;
}
._sg_bg_color_2{
      background-color:#ffffff !important;
}
._sg_bg_color_3{
      background-color:#000000 !important;
}
._sg_bg_color_4{
   background-color:#C4C4C4 !important;
}
._bordered{
   border-radius : 6px;
}
._btn{
    display:block;
   font-size : 14px;
    padding: 10px 0px;
    text-align : center;
    text-decoration: none;
    border: unset;
}
._btn._primary{
    background : #13274C;
    color : #ffffff;
    transition: color,background .2s ease-out;
}
._btn._primary:hover{
    background : #051738;
    transition: color,background .2s ease-out;
}
._btn._secondary{
    background : #ffffff;
    color : #13274C;
    transition: color,background .2s ease-out;
}
._btn._secondary:hover{
    background : #13274C;
    color : #ffffff;
    transition: color,background .2s ease-out;
}
._btn._sm{
    width: 168px;
}
._btn._lg{
    width: 258px;
}
._btn._icon{
    width: fit-content;
   padding: 9.5px 13.5px;
}
._link{
    text-decoration:none;   
}
._text-icon .fa{
    margin-right: 10px;
    border: 1px solid;
    padding: 3px 5px;
    border-radius: 15pc;
}
._link._primary{
    color: #13274C;
}
._link._secondary{
    color: #e8e8e8;
}
._section-style-guide ._container ._colors p{
    width: 30px;
    text-align: center;
    height: 30px;
    padding: 18px 11px 4px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 15pc;
}
._section-style-guide ._container ._colors p:nth-of-type(1){
    background-color: #13274C;
    color: white;
}
._section-style-guide ._container ._colors p:nth-of-type(2){
    background-color: #ffffff;
}
._section-style-guide ._container ._colors p:nth-of-type(3){
    background-color: #000000;
    color: white;
}
._section-style-guide ._container ._colors p span {
    position: absolute;
    margin-left: 30px;
    margin-top: -10px;
    color: black;
}
._section-style-guide ._container ._colors p span:nth-child(1) {
    margin-left: -10px;
    margin-top: -5px;
}
._section-style-guide ._container ._colors p .rgb {
    padding-top: 17px;
}

._img{
    margin: 0;
    padding: 0;
    object-fit: cover;
}
._img._block{
    width: 100%;
}


._section-style-guide ._container {
    padding: 70px 50px;
    font-family: Helvetica Neue, Arial, sans-serif;
}
._section-style-guide ._container ._buttons ._btn{
    margin: 10px 10px;
}